 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:   0;    
    padding:    0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}   

 body{

        
        font-family: 'Poppins', sans-serif;
        background-color: #0f0f0f;


    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .header{
        background-image: url(images/bg.jpg);
       min-height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        background-color: #040404;
        border-bottom: 1px solid #FFFFFF29;
        padding: 20px 100px;
    }
    .logo {
        color: #a70a15;
        font-size: 25px;
        font-weight: 800;
        
    }
    .menu .navbar ul li{
        position: relative;
        float: left;
    }

    .menu .navbar ul li a{   
        font-size: 18px;
                padding: 20px;

        color: #ffffff;
        display: block;
    }
    .menu .navbar ul li a:hover{
        color: #E11688;


    }
#menu {
    display: none;

}

    .menu-icono{
       width: 25px;
    }
    .menu label{
        display: none;
        cursor: pointer;
    }

    .header-info h1 {
        color:#e11b0d;
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .header-info p{
        color: #ffffff;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 35px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
    .btn-1  {
        display: inline-block;
        padding: 10px 35px;
        border-radius: 10px;
        background-color: #e11b0d;
        color: #ffffff;
        text-transform: uppercase;
    }
    .btn-1:hover {
        background-color: #4b0aa7;
    }

    .gym{
        padding: 100px 0;
        display: flex;
        align-items: center;
    }
    .gym-1{
        width: 59%;
        padding-right: 150px;

    }
    .gym-1 h2 {
       font-size: 40px;
       color: #ffffff;
       text-transform: uppercase;
       font-weight: 800;
       margin-bottom: 20px;
}
       .gym-1 p {   
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 35px;
    }

    .gym-1 span {
        color: #a70a15;
    }

    .btn-2 {
        display: inline-block;
        padding: 8px 45px;
        border-radius: 20px;
        background-color: #e11b0d;
        font-size: 16px;
        color: #ffffff;
        text-transform: uppercase;
    }
        .btn-2:hover {
            background-color: #a70a15;
        }           
        
    
    .img-1, .img-2{
        width: 250px;
        max-width: 400px;
    }

    .header-info {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
    
.footer{
    border-top: 1px solid #FFFFFF29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #040404;


}
.footer h3{
    color: #a70a15;
    font-size: 25px;
    font-weight: 800;
}
.links ul    {
    display: flex;
    
}   
.links ul li {
    margin-right: 30px;
}
.links ul li a {
    color: #818181;
    
}
@media (max-width: 991px) {

    .menu{
        padding: 20px ;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0%;
        background-color: #38383838;
        display: none;

    }

    .menu .navbar ul li{
width: 100%;    }

}
#menu:checked ~ .navbar{
    display: initial;
}
    .header-content  {
        padding: 30px;
        color: #ffffff;
        text-align: justify;
        gap: 5px;
        text-transform: uppercase;
    }

    .header-info h1 {
        font-size: 50px;
        margin-bottom: 5px;

    }
    .gym{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px;
        
    }
    .gym-1{
        width: 100%;
        
        padding: 0;
        

    }
    .gym-1 h2 {
        margin-bottom: 15px;
    }
    .btn-2 {
        margin-bottom: 35px;
    }   
    .gym-2{
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .img-1, .img-2{
        width: 80%;
        margin:0 0  20px 0;
    }
    .footer{
        flex-direction: column;
      align-items: center;
    }